@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --neutral-very-dark-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

.non-bold {
  font-weight: 200;
}

.header-para {
  display: block;
  font-weight: 200;
  text-align: center;
}

.text-para {
  font-weight: 200;
}

.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #333;
  height: 100%;
  width: 320px;
  padding: 1rem;
  margin: 0.8rem;
}

.cards-collection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image {
  align-self: flex-end;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-1,
.card-4 {
  align-self: center;
}

.text-content {
  width: 70%;
  margin-bottom: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
